

html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}
*{
   box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

ul li a{
  text-decoration: none;
  cursor: pointer; 
  color: #FFFFFF;
}
li{
  list-style: none;
}


/* BLACK NAVBAR */
.main-nav{
  background-color: #160A21;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  height: 62px;
}

.logo{
  width: 256px;
  height: 44px;
  grid-column: 2;
}

.authentication ul{
display: flex;
list-style: none;
padding-right: 20px;

}
.authentication ul li a{
padding: 0 30px;

}


/* WHITE NAVBAR */
.white-nav{
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  color: #160A21;
}
.homeIcon{
 size: 2em;
 padding-left: 14px;
}
.white-nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;

}
.white-nav li a{
  color:#160A21 ;
  float: left;
  text-decoration: none;
  padding: 0 20px;
}


/* HOME */
.bg{
  background-image: url(./images/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  
}
.bg1{
  background-image: url(./images/bg1.png);
  background-size: cover;
  background-repeat: no-repeat;
  
}
.home-container{
  display: flex;
  justify-content: space-around;
  padding: 30px 70px;
  padding-top: 70px;
  
}
.home-text{
   
  color: white;
  /* line-height: ; */
  /* padding-top: 25px ; */
}
h1{
 font-family: 'Inter', sans-serif;
 font-size: 4.5rem;
 
}

.purple{
  color:#A22DBA;
}
.white{
  color: #FFFFFF;
}
.home-img{
  width: 450px;
  height: 450px;
  /* margin: 0px 40px; */
}
.home-img:hover{
  transform: skew(1.3);
  transition: width .35s ease-in-out;
}


/* SEARCH BOX */
.search{
  display: flex;
  flex-direction: column;
  /* width: 320px; */
 /* height: 400px; */
 padding: 20px 25px;
 background: rgba(198, 145, 250, 0.2);
border-radius: 64px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
}
.searchBoxes{
/* width: 300.32px; */
padding: 10px 12px;
border-radius: 100px;
margin: 7px;

}
.a{
  background-color: #70DEFA;
  
}
.b{
background-color: #FFF7A5;
}
.c{
  background-color: #FD58F4;
}
.d{
  background-color: #FFFEFF;
}

.searchBox-btn{
  background-color: transparent;
  border: none;
  color: white;

}
.search-container {
  display: flex;
  justify-content: center;
  margin: 30px 5px;
  margin-bottom: 45px;
}

.search-container input[type=text] {
  padding: 10px;
  border: none;
  font-size: 16px;
  
}

.search-container button {
  padding: 10px 15px;
  background-color: #1E1E1E;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;

}

.search-container button:hover {
  background-color: #3e8e41;
}


/* MID PAGE */
.mid-page{
  background-color: #1E1E1E;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
 padding: 0px 70px;
}
.mid-page img{
  Width:350px;
 

}
.mid-page-img{
  transform: rotate(-10.15deg);
  transition: all 3s;
}
.text{
Width:800px;
text-align: center;
}

/* PAGES */
.pages{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
 .box{
  padding: 1rem 7rem;
  margin: 3.3rem 0;
  width: 26rem;

 }
 .right{
  margin-top:6rem;
 }

 .box1{
  background: url(./images/box1.png),#8F4DCB center;
  background-size:2.7rem;
 background-repeat: no-repeat;
 background-position: left;
 
 }
 .box2{
  background:url(./images/box2.png),#CF9BFE center;
  background-size:2.7rem;
  background-repeat: no-repeat;
  background-position: left;
 }
 .box3{
  background:url(./images/box3.png),#F0E1FF;
  background-size:2.7rem;
  background-repeat: no-repeat;
  background-position: left;
  
 }
 .box4{
  background:url(./images/box4.png),#FFB548;
  background-size:2.7rem;
  background-repeat: no-repeat;
  background-position: right;
 
 }
 .box5{
  background:url(./images/box5.png),#FEF5A8;
  background-size:2.7rem ;
  background-repeat: no-repeat;
  background-position: right;
 }
 .box6{
  background:url(./images/box6.png),#FFF6D7;
  background-size:2.7rem;
  background-repeat: no-repeat;
  background-position: right;
 }

 .line{
  border-left: 4px solid  #FFFFFF;
  height:355px;
  width: 1px;
  position: relative;
 
 }
 .dot{
  position: relative;
  top: 0;
  left: -14px;
  border: 12px solid  #FFFFFF;
  border-radius: 100%;
 }

/* STORY PAGE */
.stories-page{
padding: 60px 70px;
}
 h2{
  color: #FFFFFF;
  font-size: 2.5rem;
  text-align: center;

}
.stories{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 60px;
  
}

.story-box {
  border: 8px solid rgba(156, 139, 139, 0.55);
  width: 16rem;
  height: 20rem;
  background-image: url(./images/story1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.sub-story-box{
  position: relative;
  color: #FFFFFF;
  background-color:#000000;
  border: 4px solid rgba(156, 139, 139, 0.55);
  font-size: 10px;
  text-align: center;
  padding: 12px;
  width: 12rem;
  top: 17.5rem;
  left: 1.5rem;
}
.sub-story-box a{
  font-size: 10px;
  text-decoration: none;
  color: #FFFFFF;
  position: relative;
  top: 5px;
  left: 50px;
  
}
.arrow{
  background: rgba(197, 138, 138, 0.59);
  color:#1E1E1E;
  padding: 4px;
  border-radius: 20px;
}

/* LOVE PAGE CSS */
.love {
  position: relative; 
  background-image: url(./images/bg1.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.5rem 20rem;
}
.love::before{
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url(./images/loveBg.png);
  background-size: cover;
  
  background-repeat: no-repeat;
  /* background-position: center; */
 opacity: .45;
}
h2, h3{
  position: relative;
  color: white;
}
.btns{
  position: relative;
  display: flex;
  background-color: #645162;
  padding: 7px 30px;
  border-radius: 30px;
  margin: 2.5rem 0;
}
.btn{
background-color: #D9D9D9;
padding: 5px 45px;
/* outline: 1px solid #645162;
border:2px solid #D9D9D9 ; */
margin:  3px 10px;
border-radius: 30px;

box-shadow:
0 0 0 2.5px #645162,
0 0 0 5px#D9D9D9;
}
.love p{
  position: relative;
  color: white;
  margin: 20px 0;
  text-align: center;
}
.love-search{
  position: relative;
  background-color:  rgba(207, 155, 254, 0.7);
  width: 30rem;
  height: 3rem;
  border-radius: 90px;
  margin: 30px 0;
 

}

/* ASTRAUNAUT */
.astro{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.astro img{
  width: 20rem;
}

/* FOOTER */

.footer{
  display: flex;
  padding: 27px 47px 27px 17px ;
  background-color: #120B1A;
  font-family: 'Crimson Pro';
  font-weight: 400;
  line-height: 30px;
  justify-content: space-between;
  align-items: center;

}
.footer img{
  width: 350px;
 
}














/* ADJUST IT */



@media screen and (min-width: 1230px) {
  .bg{
   
  }
}